.element__like-button {
  background-color: transparent;
  border: 0;
  margin-left: 25px;
  align-items: center;
  line-height: 0;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
  width: 22px;
  height: 18px;
  background-image: url(../../../images/buttons/elements-like.svg);
}

.element__like-button:hover {
  opacity: 0.5;
}

